<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/stylesheet.css">
</head>
<body>

<h1>Welcome to the Jerry Seinfeld Chatbot!</h1>
<h2>This is a character-based seq2seq model</h2>

<p>Type your message to Jerry Here:</p>

<div class="ex3">
<form method=post>
    <ul style="list-style: none;">
        {% for line in conversations %}
        <li>{{line}}</li>
        {% endfor %}
    </ul>
  <p>Message: <input type=text name=sentence></p>
     <input type=submit value=Send>

</form>

</div>

</body>
</html>