<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/stylesheet.css">
</head>
    <body>
    <h1>Welcome to the Jerry Seinfeld Chatbot!</h1>
        <h2>This is a character-based seq2seq model</h2>
        <br>
<div class="ex3">
<form method=post>
        {% for line in conversations %}
        {{line}}
        <br>
        {% endfor %}
  <p>Type your message to Jerry Here: <input type=text name=sentence></p>
     <input class=button type=submit value=Send>

</form>
</div>

<form method="post" action="/">
    <button class="button"input type="submit" value="Clear" name="Clear">Clear</button>
</form>
    

</body>
</html>